<!DOCTYPE html>
<html>
<head>
 <meta charset='UTF-8' />
 <title><%=@title%></title>
</head>
<body>
    <nav>
      <a href="/">Posts</a>
      <a href="/new">New Post</a>
    </nav>
  <h1>Welcome to the homepage</h1>

  <h1>Welcome <%=@age%></h1>
  <h1>Welcome <%=@first_name%></h1>
  <h1>Welcome <%=@last_name%></h1>
 
</body>
</html>